*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 body, html, .container{
     width: 100%;
     height: 100%;
     background-color: #000000;
 }
 .container{
     display: flex;
     justify-content: center;
     align-items: center;
 }
  .sq{
     display: flex;
     justify-content: center;
     align-items: center;
     width: calc(100% - 20px);
     height: calc(100% - 20px);
     background-color: #000000;
     border: 5px solid #FFFFFF;
    -webkit-animation-name: spin;
    -moz-animation-name: spin;
    -o-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    -o-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
 }
 .parent{
     width: 200px;
     height: 200px;
 }
 @keyframes spin{
     from{
         -webkit-transform: rotatez(0deg);
         -moz-transform: rotatez(0dge);
         -ms-transform: rotatez(0deg);
         -o-transform: rotatez(0deg);
         transform: rotatez(0deg);
     }
     to{
         -webkit-transform: rotatez(359deg);
         -moz-transform: rotatez(359dge);
         -ms-transform: rotatez(359deg);
         -o-transform: rotatez(359deg);
         transform: rotatez(359deg);
     }
 }
